.side-bar__bg {
    height: 100vh;
}

.forgot-main {
    padding: 5%;
}

.forgot-content {
    margin-top: 100px;
}

.forgot-form {
    margin-top: 30px;
}

.forgot-logo > img {
    max-width: 100%;
    width: 280px;
}

.forgot-main .text-top{
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 0;
    margin-top: 22px;
}
.forgot-main .text-bot{
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 4px;
    color: var(--gray-color);
}
.sendOTP {
    height: 38px !important;
    width: 80px;
    margin-left: 15px;
}

.email-lable {
    font-size: 14px;
    font-weight: 500;
    color: var(--gray-color);
}

@media only screen and (max-width:1120px) {
    .side-bar__bg {
        width: 300px;
        object-fit: cover;
    }   
}

@media only screen and (max-width:750px) {
    .side-bar__bg {
        width: 180px;
    }   
}

@media only screen and (max-width:500px) {
    .side-bar__bg {
        display: none;
    }   
}