
.hihi {
    position: relative;
}
.hihi:hover .kakaakka{
    display: block;
}
.kakaakka {
    position: absolute;
    top: 100%;
    width: 200px;
    height: 200px;
    background-color: aquamarine;
    display: none;
}