.inputInvalid {
  border-color: #dc3545 !important;
  --bs-form-select-bg-icon: url(data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 12 12%27 width=%2712%27 height=%2712%27 fill=%27none%27 stroke=%27%23dc3545%27%3e%3ccircle cx=%276%27 cy=%276%27 r=%274.5%27/%3e%3cpath stroke-linejoin=%27round%27 d=%27M5.8 3.6h.4L6 6.5z%27/%3e%3ccircle cx=%276%27 cy=%278.2%27 r=%27.6%27 fill=%27%23dc3545%27 stroke=%27none%27/%3e%3c/svg%3e) !important;
}

.text__invalid {
    color: var(--primary-color);
    font-size: 14px;
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 0;
    margin-left: 2px;
}

.labelTime {
  margin-bottom: 0.5rem;
}

#datePicker {
  outline: none;
}