.dropzone {
  border: 1px dashed var(--gray-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  cursor: pointer;
}

.selected-images {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 15px;
}

.selected-images__img {
  width: 150px;
  object-fit: cover;
  height: 150px !important;
}



.selected-images__box {
  position: relative;
}

.selected-images__icon {
  position: absolute;
  font-size: 30px;
  right: -6px;
  color: var(--primary-color);
  top: -5px;
  cursor: pointer;
}

/* ////////////////////rate///////////////////// */
.rate-upload .selected-images__img{
  width: 80px;
  object-fit: cover;
  height: 80px !important;
}

.rate-upload .dropzone img {
  width: 50px;
}

.rate-upload .dropzone p {
  font-size: 13px;
}