
.infor-container,.handle-auction {
  padding: 15px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  background-color: white;
  margin-top: 20px;
}

.infor-row {
  display: flex;
  justify-content: space-between;
}

.infor-row__left {
  text-align: left;
  flex: 1;
  color: var(--gray-text);
  font-size: 14px;
  font-weight: 500;
}

.infor-row__right {
  text-align: right;
  flex: 1;

  font-size: 14px;
  font-weight: bold;
  color: var(--primary-color);
}



.handle-auction__bid {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}
.handle-auction__input {
  width: 50%;
  outline: none;
  padding: 0 10px;
  border: 1px solid var(--primary-color);
}

.btn-11.bid{
  width: 50%;
}