
.infor-container,.handle-auction {
  padding: 15px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  background-color: white;
  margin-top: 20px;
}

.infor-row {
  display: flex;
  justify-content: space-between;
}

.infor-row__left {
  text-align: left;
  flex: 1;
  color: var(--gray-text);
  font-size: 14px;
  font-weight: 500;
}

.infor-row__right {
  text-align: right;
  flex: 1;

  font-size: 14px;
  font-weight: bold;
  color: var(--primary-color);
}

.step-price-time,.step-price-equal {
  color: var(--primary-color);
  font-weight: 600;
  margin-bottom: 0;
}


.handle-auction__bid {
  display: flex;
  gap: 10px;
  align-items: center;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  /* margin-top: 10px; */
}
.handle-auction__input {
  width: 90px;
  outline: none;
  height: 42px;
  padding: 0 10px;
  border: 1px solid var(--primary-color);
}

.step-price,.total-price {
  height: 42px;
  border: 1px solid var(--primary-color);
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  color: var(--primary-color);
  flex: 1;
}

/* .btn-11.bid{
  width: 50%;
} */

.custom-toast {
  background-color: white;
  border: 1px solid var(--primary-color);
  padding: 20px;
}

.custom-toast .btn-11 {
  width: 180px !important;
}

.custom-toast .confirm-box {
  display: flex;
  gap: 10px;
  justify-content: end;
  margin-top: 30px;
}