* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  --primary-color: #b41712;
  --second-color: #121212;

  --gray-color: #787878;
  --border-color:#E0E0E0;
  --gray-text:#696969;

  --font-size-14: 14px;
  --font-size-16: 16px;
}

body {
  font-family: "Montserrat", sans-serif !important;
  /* background-color: white; */
  height: 10000px;
}

body ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

body a {
  text-decoration: none;
  color: unset;
}


/* .image-gallery-image {
  object-fit: cover;
} */

/* btn */

.btn-11 {
  position: relative;
  overflow: hidden;
  text-align: center;
  height: 42px;
  padding: 9px 20px;
  max-width: 250px;
  text-transform: capitalize;
  border: 1px solid currentColor;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;

  color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-11.btn-11__full {
  max-width: 100%;
  width: 100%;
}

.btn-11.disable{
  cursor: not-allowed;
  opacity: 0.5;
}

.btn-11.disable:hover {
  color: var(--primary-color);
  border: 1px solid currentColor;

}

.btn-11.disable:hover:before {
  animation: none !important;
}

.btn-11.disable:hover:after {
  animation: none !important;
}

@-webkit-keyframes criss-cross-left-cus {
  0% {
    left: -20px;
  }
  50% {
    left: 50%;
    width: 20px;
    height: 20px;
  }
  100% {
    left: 50%;
    width: 500px;
    height: 375px;
  }
}
@keyframes criss-cross-left-cus {
  0% {
    left: -20px;
  }
  50% {
    left: 50%;
    width: 20px;
    height: 20px;
  }
  100% {
    left: 50%;
    width: 500px;
    height: 375px;
  }
}
@-webkit-keyframes criss-cross-right-cus {
  0% {
    right: -20px;
  }
  50% {
    right: 50%;
    width: 20px;
    height: 20px;
  }
  100% {
    right: 50%;
    width: 500px;
    height: 375px;
  }
}
@keyframes criss-cross-right-cus {
  0% {
    right: -20px;
  }
  50% {
    right: 50%;
    width: 20px;
    height: 20px;
  }
  100% {
    right: 50%;
    width: 500px;
    height: 375px;
  }
}

@-webkit-keyframes criss-cross-left {
  0% {
    left: -20px;
  }
  50% {
    left: 50%;
    width: 20px;
    height: 20px;
  }
  100% {
    left: 50%;
    width: 375px;
    height: 375px;
  }
}
@keyframes criss-cross-left {
  0% {
    left: -20px;
  }
  50% {
    left: 50%;
    width: 20px;
    height: 20px;
  }
  100% {
    left: 50%;
    width: 375px;
    height: 375px;
  }
}
@-webkit-keyframes criss-cross-right {
  0% {
    right: -20px;
  }
  50% {
    right: 50%;
    width: 20px;
    height: 20px;
  }
  100% {
    right: 50%;
    width: 375px;
    height: 375px;
  }
}
@keyframes criss-cross-right {
  0% {
    right: -20px;
  }
  50% {
    right: 50%;
    width: 20px;
    height: 20px;
  }
  100% {
    right: 50%;
    width: 375px;
    height: 375px;
  }
}

.btn-11__content {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.btn-11:before,
.btn-11:after {
  position: absolute;
  top: 50%;
  content: "";
  width: 20px;
  height: 20px;
  background-color: var(--primary-color);
  border-radius: 50%;
  z-index: 1;
}
.btn-11:before {
  left: -20px;
  transform: translate(-50%, -50%);
}
.btn-11:after {
  right: -20px;
  transform: translate(50%, -50%);
}
.btn-11:hover {
  color: white;
}
.btn-11:hover:before {
  -webkit-animation: criss-cross-left 0.8s both;
  animation: criss-cross-left 0.8s both;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}
.btn-11:hover:after {
  -webkit-animation: criss-cross-right 0.8s both;
  animation: criss-cross-right 0.8s both;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

.btn-11.btn-11__full:hover:before {
  -webkit-animation: criss-cross-left-cus 0.8s both;
  animation: criss-cross-left-cus 0.8s both;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}
.btn-11.btn-11__full:hover:after {
  -webkit-animation: criss-cross-right-cus 0.8s both;
  animation: criss-cross-right-cus 0.8s both;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}